@import url('https://fonts.googleapis.com/css?family=Open+Sans:800|Poppins:500');

 @import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.intro {
    height: 100%;
    width: 100%;
    background: url(img/use.jpg)  no-repeat center center fixed;
    display: table;
    top: 0;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
    
    filter: blur(0px);    
        

}


.color{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: blur(5px);
    position: absolute;
}

.intro .inner {
    display: table-cell;
    vertical-align:middle;
    width: 100%;
    max-width: none;
}


.content {
    z-index: 1;
    max-width:600px;
    margin:  auto;
    text-align: center;
    
}

.content h1 {
    font-family: 'Yantramanav', sans-serif;
    font-size: 500%;
    font-weight: 200;
    color: #E1EFE9;
    line-height: 70%;  
    
    
}


.btn{
    font-family: 'Montserrat';
    font-size: 150%;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    border: solid #EC76FF;
    padding: 10px 20px;
    border-radius: 9px;
    transition: all 0.5s;
    
}


.btn:hover{
    color: #CBDFD6;
    border: solid #CBDFD6
}

p {
    font-size: 120%;
    line-height: 120%;
    font-family: 'Montserrat';
    color: darkturquoise;
    padding: 30px 10px;
    text-align: center;


}
    



/*--- Media Queries --*
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
	
}






















